* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

.bg {
  background-image: url("./images/blur-hospital.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.header {
  padding-top: 40px;
}

.header-flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar {
  display: none;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}

.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}

#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: -250px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  z-index: 99999;
  background: #353535;
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type=checkbox]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #000;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

.first-info-block {
  margin-right: 40px;
}

.info-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 235px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.025em;
  color: #5a5a5a;
}

.info-text {
  margin-left: 20px;
}

/* right-side */
.right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fb-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  background: #fff;
  padding: 14px 10px;
  border-radius: 25px;
  text-decoration: none;
  margin: 0 50px;
}

.fb-link-text {
  color: #0d4c93;
  /* margin-left: 10px; */
}

.set-lang {
  max-width: 190px;
  background: #fff;
  border-radius: 25px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lang-name {
  color: #0d4c93;
}

/* navbar */
.navigation {
  margin-top: 48px;
  padding-bottom: 70px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style: none;
  background: #fff;
  border-radius: 25px;
}

.navbar-link {
  text-decoration: none;
}

.navbar-link:hover {
  color: #00c9c9;
}

.navbar li {
  border-left: 2px solid #f2f2f2;
  padding: 24px 55px;
  display: inline-block;
  text-align: center;
}

.navbar li:first-child {
  border-left: none;
}

/* first-page */
.first-page {
  padding-bottom: 80px;
}

.first-page-flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-page-left-side h1 {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  letter-spacing: 0.09em;
  text-align: left;
  color: #0d4c93;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 40px;
  text-align: left;
  /* or 167% */
  color: #363535;
}

.learn-more {
  background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);
  opacity: 0.9;
  border-radius: 35px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  padding: 21px 70px;
  display: block;
}

/* first-page-swiper */
.swiper3 {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  height: 25px;
  width: 25px;
}

.swiper-pagination-bullet-active {
  background: #00c9c9;
  height: 25px;
  width: 25px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-page-swiper img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* products */
.product-title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  margin: 60px 0;
  /* identical to box height */
  color: #0d4c93;
}

.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  background: linear-gradient(180deg, #f8f8f8 0%, rgba(248, 248, 248, 0) 100%);
  opacity: 0.9;
  border-radius: 35px;
  margin-bottom: 55px;
  width: 439px;
  /* height: 439px; */
}

.card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  padding: 52px 107px;
  padding-bottom: 0;
}

.good-name {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.105em;
  margin-top: 35px;
  margin-bottom: 27px;
  color: #000000;
}

.about {
  padding: 24px 64px;
  background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);
  opacity: 0.9;
  border-radius: 35px;
  border: none;
  color: #fff;
  display: block;
  width: 270px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.all-products {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto;
  margin-bottom: 70px;
  text-decoration: none;
  color: #0d4c93;
}

.all-products:hover,
.all-products svg:hover {
  color: #00c9c9;
  fill: #00c9c9;
}

/* .all-products svg:hover {
  fill: #00C9C9;
} */
.all-products svg {
  vertical-align: middle;
}

/* service */
.service-bg {
  background-image: url("./images/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.services {
  padding-top: 78px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-img {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.service-title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  color: #0d4c93;
  margin-bottom: 68px;
}

.service-card {
  background: #ffffff;
  border-radius: 50px;
  max-width: 388px;
  position: relative;
  margin-bottom: 50px;
}

.service-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.065em;
  margin-top: 30px;
  margin-bottom: 14px;
  text-align: center;
  color: #0d4c93;
}

.service-description {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  width: 300px;
  margin: 0 auto;
  /* or 150% */
  text-align: center;
  padding-bottom: 35px;
  color: #000000;
}

.service-btn {
  background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);
  opacity: 0.9;
  border-radius: 35px;
  padding: 15px 84px;
  border: none;
  position: absolute;
  display: block;
  width: 270px;
  margin: 0 auto;
  margin-left: 14%;
  margin-top: -20px;
  /* margin-left: 20px; */
}

/* about-us */
.about-us {
  padding-bottom: 108px;
}

.about-us-title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  color: #0d4c93;
  margin-top: 68px;
  margin-bottom: 50px;
}

.about-us-bg {
  /* background-image: url('./images/gr.png'); */
  background-repeat: no-repeat;
  padding-bottom: 45px;
}

.company-description {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.06em;
  padding-bottom: 30px;
  position: relative;
  color: #000000;
}

.about-us-logo {
  position: absolute;
}

.right-side-aboutus {
  max-width: 702px;
  margin-right: -41%;
  position: absolute;
}

.description-text {
  margin-top: 80px;
  margin-bottom: 20px;
}

.left-side-aboutus::before {
  content: url("./images/aboutusafter.png");
}

.aboutus-btn {
  background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);
  opacity: 0.9;
  border-radius: 35px;
  padding: 15px 60px;
  border: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

/* news */
.new-title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  color: #0d4c93;
  text-align: center;
}

/* swiper */
.news-slider {
  margin-bottom: 70px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* order: 1 !important; */
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* news new card */
.img img {
  margin-top: -136px;
  border-radius: 25px;
}

.section__slider-item-wrapper {
  width: 382px;
  background: linear-gradient(180deg, #f8f8f8 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.9;
  border: 2px solid #f7f7f7;
  border-radius: 35px;
  margin: auto;
  text-align: center;
  margin-top: 158px;
  margin-bottom: 20px;
}

.section__slider-item-subtitle {
  padding-top: 18px;
  padding-bottom: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-left: 31px;
  padding-right: 36px;
  color: #0d4c93;
}

.section__slider-item-title {
  padding-top: 18px;
  padding-bottom: 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  text-align: center;
  color: #0d4c93;
}

.section__slider-item-suptitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  max-width: 327px;
  margin: auto;
  padding-bottom: 27px;
  color: #000000;
}

.section__slider-item-btn {
  background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);
  opacity: 0.9;
  border-radius: 35px;
  padding: 15px 79px 12px 81px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.section__slider-item-btn:hover {
  background: #00c9c9;
  transition: all 0.3s ease;
}

/* news new card */
.partners-slider {
  max-width: 100%;
  /* border: 1px solid black; */
  height: 300px;
}

.swiper2 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  /* background: red; */
  overflow: hidden;
  position: relative;
}

.swiper2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
/* news-card */
.news-title-link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #0d4c93;
  /* display: block; */
  /* margin-top: 119px; */
}

.news-title-link:hover {
  text-decoration: underline;
}

.news-date {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  text-align: center;
  color: #0d4c93;
  margin-bottom: 13px;
  margin-top: 18px;
}

.news-desctiption {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 317px;
  margin: 0 auto;
  /* or 171% */
  text-align: center;
  color: #000000;
  margin-bottom: 27px;
}

.news-img {
  width: 320px;
  height: 220px;
  border-radius: 40px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  margin-top: -50px;
  z-index: 999;
  /* position: absolute; */
}

.swiper-slide {
  position: relative !important;
  z-index: 1 !important;
}

.news-btn {
  background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);
  opacity: 0.9;
  border-radius: 35px;
  padding: 15px 80px;
  border: none;
  margin-top: 27px;
}

.news-btn:hover {
  background: #00c9c9;
  opacity: 0.9;
  border-radius: 35px;
}

.news-options-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.option-link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #0d4c93;
}

.option-link:hover .option-link-svg,
.option-link:hover {
  color: #00c9c9;
  fill: #00c9c9;
}

.option-link svg {
  vertical-align: middle;
}

/* partner */
.our-partner {
  margin-top: 106px;
}

.partner-title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  /* identical to box height */
  margin-bottom: 56px;
  color: #0d4c93;
}

.swiper-slied-own {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide1 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */
.footer {
  background-image: url("./images/blur-hospital.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 130px;
}

.footer-flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left-top-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location-and-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 521px;
  flex-wrap: wrap;
}

.footer-btn {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 13px 30px;
  background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);
  opacity: 0.9;
  border-radius: 35px;
  border: none;
}

.footer-contact-info {
  margin-top: 25px;
  margin-bottom: 20px;
}

.footer-info-text {
  text-align: left;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #5a5a5a;
}

.footer-links-group {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.footer-about-title {
  font-weight: 500;
  font-size: 26px;
  line-height: 28px;
  /* or 108% */
  letter-spacing: 0.04em;
  color: #595959;
}

.footer-link {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #595959;
}

.footer-link:hover {
  text-decoration: underline;
  color: #00c9c9;
}

.footer-ul-lists {
  list-style: none;
}

.footer-left-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left-bottom {
  margin-top: 47px;
}

.footer-products {
  margin: 0 30px;
}

.footer-left-bottom p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.04em;
  color: #585858;
  max-width: 442px;
  margin-left: 37px;
}

.copyright-design {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.04em;
  color: #353535;
}

.copyright-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 77px;
  padding-bottom: 27px;
}

.copyright-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.04em;
  color: #353535;
}

.designer-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.04em;
  color: #00c9c9;
}

.swiper-button-next::after {
  content: url("./images/arrowright.svg");
  right: 37px !important;
  /* order: 10000 !important; */
}

.swiper-button-prev::after {
  content: url("./images/arrowleft.svg");
  left: 21px !important;
  right: auto;
  /* order: 1000 !important; */
}

/* select lang */
/* .dropdown {
  min-width: 15em;
  position: relarive;
  margin: 2em;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background-color: #2a2f3b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #3a3f3b solid;
  border-radius: .5em;
  padding: 1em;
  cursor: pointer;
  transition: background .3s;
}

.select-clicked {
  border: 2px #25489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
  background: #323741;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: .3s;
}

.caret-rotate {
  transform: rotate(180deg);
} */
/* 
select {
  border: none;
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 25px;
}

select:focus {
  outline: none;
}

option {
  background-image: url(./images/langruss.svg);
} */
/* .dropdown {
  width: 100%;
  margin: 0 20px;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Lato', sans-serif;
} */
/* serach */
.search {
  cursor: pointer;
}

.search-input {
  display: none;
  width: 300px;
  padding: 10px 10px;
  border-radius: 25px;
  outline: none;
}

.input-visible {
  display: block;
}

.hide-logo {
  display: none;
}

/* search */
@media (min-width: 768px) {
  .dropdown {
    width: 600px;
  }
}
.dropdown__switch:checked + .dropdown__options-filter .dropdown__select {
  transform: scaleY(1);
}

.dropdown__switch:checked + .dropdown__options-filter .dropdown__filter:after {
  transform: rotate(-135deg);
}

.dropdown__options-filter {
  width: 100%;
  cursor: pointer;
}

.dropdown__filter {
  position: relative;
  display: flex;
  padding: 18px 10px;
  background-image: url("./images/langruss.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  color: #595959;
  background-color: #fff;
  list-style: none;
  /* border: 1px solid #d6d6d6; */
  /* border-radius: 30px; */
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s;
}

/* .dropdown__filter:focus {
  border: 1px solid #918FF4;
  outline: none;
  -webkit-box-shadow: 0 0 5px 3px #918FF4;
  box-shadow: 0 0 5px 3px #918FF4;
} */
.dropdown__filter-selected {
  margin-left: 30px;
}

.dropdown__filter::after {
  position: absolute;
  top: 45%;
  right: 20px;
  content: "";
  width: 10px;
  height: 10px;
  border-right: 2px solid #595959;
  border-bottom: 2px solid #595959;
  transform: rotate(45deg) translateX(-45%);
  transition: 0.2s ease-in-out;
}

.dropdown__select {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(152, 152, 152, 0.6);
  transform: scaleY(0);
  transform-origin: top;
  font-weight: 300;
  transition: 0.2s ease-in-out;
}

.dropdown__select-option img {
  vertical-align: middle;
}

.dropdown__select-option {
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #d6d6d6;
  transition: 0.3s;
}

.dropdown__select-option:last-of-type {
  border-bottom: 0;
}

.dropdown__select-option:hover {
  background-color: #f9f9f9;
}

@media only screen and (max-width: 1025px) {
  .products {
    justify-content: space-around;
  }
  .about {
    padding: 18px 64px;
    width: 230px;
  }
  .card {
    width: 343px;
  }
  .services {
    justify-content: space-around;
  }
  .header-flex-box {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .container {
    max-width: 900px;
  }
  .logo,
.search-input {
    margin: 20px 0;
  }
  .navbar li {
    padding: 11px 31px;
  }
  .navbar-link {
    font-size: 12px;
  }
  .navbar {
    width: 900px;
    margin: 0 auto;
  }
  .left-side-aboutus::before {
    content: none;
  }
  .first-page-left-side h1 {
    font-size: 40px;
  }
  .description {
    font-size: 17px;
    line-height: 33px;
  }
  .main-slider-img {
    width: 470px;
  }
  .learn-more {
    padding: 8px 44px;
  }
  .about-us-title {
    font-size: 27px;
  }
  .description-text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .right-side-aboutus {
    width: 900px;
    display: block;
    margin-left: 91px;
  }
  .company-description {
    display: block;
    text-align: center;
  }
  .left-side-aboutus {
    display: none;
  }
  .about-us {
    margin-bottom: 200px;
  }
  .section__slider-item-wrapper {
    width: 246px;
  }
  .section__slider-item-btn {
    padding: 10px 25px;
    font-size: 12px;
  }
  .img img {
    width: 186px;
  }
  .section__slider-item-subtitle {
    font-size: 18px;
  }
  .section__slider-item-title {
    font-size: 14px;
  }
  .section__slider-item-suptitle {
    font-size: 11px;
  }
  .option-link {
    font-size: 18px;
  }
  .option-link svg {
    width: 18px;
  }
  .partner-title {
    font-size: 31px;
  }
  .logo__partnyors img {
    width: 219px;
  }
  .footer-flex-box {
    flex-direction: column;
  }
  .footer-links-group {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }
  .navbar {
    width: 681px;
  }
  .navbar li {
    padding: 13px 14px;
  }
  .main-slider-img {
    width: 289px;
  }
  .first-page-left-side h1 {
    font-size: 33px;
    line-height: 38px;
    margin-bottom: 18px;
  }
  .description {
    font-size: 15px;
    line-height: 30px;
  }
  .learn-more {
    padding: 7px 33px;
    font-size: 16px;
  }
  .right-side-aboutus {
    margin-left: 0;
  }
  .card-img {
    padding: 0;
    padding-top: 30px;
  }
}
@media only screen and (max-width: 425px) {
  .sidebar {
    display: block;
  }
  .container {
    width: 390px;
  }
  .navbar {
    display: none;
  }
  .description-text {
    font-size: 13px;
    line-height: 20px;
    width: 390px;
  }
  .about-us-title {
    margin-bottom: 20px;
  }
  .service-card {
    max-width: 300px;
  }
  .service-img {
    width: 300px;
  }
  .service-description {
    font-size: 13px;
  }
  .service-btn {
    margin-left: 52px;
    width: 180px;
    padding: 10px 50px;
  }
  .new-block {
    padding-top: 90px;
  }
  .right-side-aboutus {
    width: 400px;
  }
  .info-block {
    width: 159px;
    font-size: 10px;
  }
  .icon {
    width: 40px;
  }
  .info-text {
    margin-left: 0;
  }
  .fb-link {
    margin: 0 14px;
  }
  .first-page-flex-box {
    flex-direction: column;
  }
  .all-products {
    font-size: 16px;
  }
  .all-products svg {
    width: 16px;
  }
  .option-link {
    font-size: 13px;
  }
  .slide-card {
    width: 390px !important;
  }
  .footer-left-top-side {
    flex-direction: column;
  }
  .footer-left-bottom {
    flex-direction: column;
  }
  .footer-links-group {
    display: block;
    margin-left: -60px;
  }
  .footer-products {
    margin: 0;
  }
  .copyright-block {
    flex-direction: column;
  }
  .copyright-block .copyright-design {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    max-width: 320px;
  }
  .left-side,
.info-block {
    display: flex;
    justify-content: start;
  }
  .info-block {
    margin-right: 0;
  }
  .left-side {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .set-lang {
    display: none;
  }
  .description-text {
    width: 319px;
  }
  .slide-card {
    width: 320px !important;
  }
  .right-side-aboutus {
    width: 300px;
  }
  .sidebarMenu {
    margin-top: -172px;
  }
}/*# sourceMappingURL=style.css.map */